body{
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
    color: darkslategray;
    font-size: 1.1em;
}
li {
    text-decoration: none;
}

h2{
    float: left;
    width: 100%;
    text-align:center;
}
p{
    background-color: #b44a5c;
    display: block;
}
.boton {
    text-decoration: none;
    float: left;
    transition: 0.5s;
    font-size: 1.2em;
    background-color: #ec8999;
    color: rgb(247, 236, 239);
    padding: 0.4em 0 0.4em 0em;
    border-style: solid;
    border-radius: 0.25em;
    border-color: rgb(236, 137, 153);
    /* margin-left: 10px; */
    margin-bottom: 20px;
}

.boton:hover {
    transition: 0.5s;
    font-size: 1.2em;
    background-color: rgb(235, 98, 121);
    color: rgb(247, 209, 218);
    border-style: solid;
    border-color: rgb(235, 98, 121);
}

.boton:active {
    transition:0.3ms;
    font-size: 1.2em;
    background-color: #b44a5c;
    color: #f7d1da;
    border-style: solid;
    border-radius: 0.15em;
    border-color: rgb(180, 74, 92);
}

.title{
    float: left;
    width: 90%;
    margin-left: 5%;
    font-size: 1.8em;
    margin-top: 30px;
    text-align: center;
    color: rgb(236, 137, 153);
}

@media (max-width:600px){
    p{
        float: left;
        width: 90%;
        margin-left: 5%;
    }
    h3{
        width: 85%;
        margin-left: 7.5%;
    }

    h2{
        color:rgb(105, 99, 90);
        width: 100%;
        /* margin-left: 7.5%; */
    }
    nav {
        margin: 0;
        margin-top: -40px;
        width : 100%; 
      }

    .main-content{
        float: left;
        width: 90%;
        margin-left: 5%;
    }
    .page-name{
        margin-inline-start: 2.5%;
        width: 75%;
        /* margin-left: 5%; */
        float: left;
        z-index: 5;
        text-decoration: none;

    }

    .page-name a{
        transition: .5s;
        text-decoration: none;
        text-decoration: underline;
        text-overflow: clip;
        font-family: 'Pacifico', cursive;
        font-size: 2.2em;
        font-weight: 100;
        color: #ec8999;
    }

    .page-name a:hover{
        transition: .5s;
        color: rgb(236, 137, 153);
    }

    .menu-items {
        float: right;
        width: 20%;
        margin-top: 39px;
        /* padding-right : 0px;
        margin-right: 0px; */
        font-variant : small-caps;
        cursor : pointer;
        max-height: 65px;
        margin-inline-end: -10px;

    }



    .slide {
        z-index: 10;
        color: antiquewhite;
        float: left;        
        margin-left: -40px;
        margin-top: -27px;
        background-color: #ec899a00;
        clear:both;
        width:100%;
        height:0px;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
        }

    .slide a{
        width: 100%;
        text-decoration: none;
        color:#ec8999;
        font-size: 1.5em;
    }

    ul {
        list-style-type: none;
    }

    .slide li {
        transition: .5s;
        padding-top : 15px;
        padding-bottom: 15px;
    }

    .slide li:active {
        background-color: rgb(177, 102, 115);
        border-color:rgb(177, 102, 115);
        border-style: solid;
        border-left: none;
        border-right: none;
        border-top: 1px;
    }

    .home-photos{
        max-width: 100%;
        padding-bottom: 20px;
    }

    .photos-column-left img{
        float: left;
        width: 49.4%
    }

    .photos-column-right img{
        float: right;
        width: 49.4%
    }

    #touch {
        position: absolute; 
        height: 0px;
    }    
    
    #touch:checked + .slide {
        transition: height .4s ease;
        height: 193px; 
        overflow-y: hidden;

    }

    .main-login {
        padding: 0;
        margin-top: 1em;
        margin-bottom: 1.5em;
        width: 100%;
        float: left;
    }
    
    .main{
        width: 100%;
    }

    .main-boton{
        float: left;
        margin-left: 5%;

        width: 42%;
        text-align: center;
    }

    .main-boton:nth-of-type(2) {
        background-color: rgb(180, 74, 92); 
        border-color: rgb(180, 74, 92); 
    }

    .signup-form{
        width: 100%;
    }

    .login_form{
        float: left;
        width: 95%;
        margin-left: 2.5%;
    }

    .login-boton{
        float: left;
        width: 45%;
        margin-inline-start: 25%;

        margin-block-start: 20px;
    }

    form label{
        float: left;
        width: 45%;
        margin-block-end: 20px;
    }

    form{
        margin-block-end: 20px;
        float: left;
        width: 100%;
        /* margin-left: 2.5%; */
    }
    form input{
        margin-block-end: 20px;
        justify-content: center;
        float: right;
        width: 45%;
    }
    span {
            margin: 0;
    }
    
    .top-content{
        float: left;
        width: 90%;
        margin-inline-start: 5%;
    }

    #id_birthdate_day, #id_birthdate_month, #id_birthdate_year{
        float: right;
    }
    #id_ciudad {
        width: 50%;
        float: right;
    }
    #id_provincia{
        float: right;
    }
    .forgotten{
        width: 45%;
        float: left;
        margin-inline-start: 2.5%;
        /* margin-top: 1.3em;
        margin-left: 20px; */
        text-decoration: none;
        color: rgb(180, 74, 92); 
    }

    .bottom-margin {
        height: 10em;
        width: 99%;
        text-align: center;
        color: rgb(255, 236, 243);
    }
    
    .pie-de-pagina {
        padding-bottom: 1em;
        width: 100%;
        height: 1em;
        display: block;
        position: fixed;
        z-index: 10;
        bottom: 10px;
        color: #b44a5c;
    }
    


    .pie-de-pagina p{
        text-align: center;
    }
    .pie-de-pagina a{
        text-decoration: none;
        color: rgb(236, 137, 153);
    }

    .carousel {
        display: flex;
        overflow: hidden;
        width: 100%;
        margin: 0;
        position: relative;
    }
    
    .carousel-slide {
        display: flex;
        flex-wrap: nowrap;
        /* width: calc(500px * 3); */
        animation: slide 10s linear infinite;
    }
    
    .carousel-slide img {
        display: flex;
        width: 110%;
    }
    

    .carousel-controls {
        float: left;
        width: 100%;
    }

    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color:#ec8999;
        color:#b44a5c;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity 0.3s;
    }
    
    .carousel-control:hover {
        opacity: 0.8;
    }
    
    .carousel-control-prev {
        left: 0;
    }
    
    .carousel-control-next {
        right: 0;
    }

  
} 




@media (min-width:601px){
    p{
        width: 85%;
        margin-left: 7.5%;
    }
    h3{
        width: 85%;
        margin-left: 7.5%;
    }
    h2{
        color:rgb(105, 99, 90);
        width: 85%;
        margin-left: 7.5%;
    }
    nav {
        width : 100; 
        margin : 0px auto; 
      }
    .page-name{
        top: 20px;
        text-decoration: none;
        margin-left: 25%;
        width: 50%;
        text-align: center;
        margin-top: -60px;
    }

    .page-name a{
        transition: .5s;
        text-decoration: none;
        color: antiquewhite;;
    }

    .page-name a:hover{
        transition: .5s;
        color: rgb(236, 137, 153);
    }

    .menu-items {
        padding : 30px;
        background : rgb(180, 74, 92); 
        color : white;
        font-size : 1.2em;
        font-variant : small-caps;
        cursor : pointer;
        display: block;
        }
    
    /* .menu-items::after {
        float: right;
        right: 10%;
        content: "+";
        } */
    
    .slide {
        color: antiquewhite;
        position: absolute;
        margin-left: -40px;
        margin-top: 7px;
        background-color: rgb(236, 137, 153);
        clear:both;
        width:100%;
        height:0px;
        opacity: 0%;
        overflow: hidden;
        text-align: center;
        transition: opacity .4s ease;
        }

    .slide a{
        width: 100%;
        text-decoration: none;
        color: antiquewhite;
        font-size: 1.5em;
    }

    ul {
        list-style-type: none;
    }

    .slide li {
        transition: .5s;
        padding-top : 15px;
        padding-bottom: 15px;
        border-color:rgb(236, 137, 153);
        border-style: solid;
        border-left: none;
        border-right: none;
        border-top: 1px;
    }


    .slide li:hover {
        transition: 0.5s;
        background: linear-gradient(180deg, #f897a7 16%, #eda3ae  68%);
        border-color:rgb(248, 171, 184);


    }
    
    .slide li:active {
        background-color: rgb(177, 102, 115);
        border-color:rgb(177, 102, 115);
        border-style: solid;
        border-left: none;
        border-right: none;
        border-top: 1px;
    }

    .home-photos{
        width: 80%;
    }

    .photos-column-left img{
        float: left;
        width: 39.4%
    }

    .photos-column-right img{
        float: left;
        width: 39.4%
    }

    #touch {position: absolute; height: 0px}    
    
    #touch:checked + .slide{
        height: 193px; 
        opacity: 100%; 
        overflow-y: hidden
    }



    .main-login{
        text-align: center;
        width: 100%;
        float: left;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .main-boton{
        float: left;
        max-width: 150px;
        text-align: center;
    }

    .main-boton:nth-of-type(2) {
        background-color: rgb(180, 74, 92); 
        border-color: rgb(180, 74, 92); 
    }
    form{
        width: 90%;
        margin-left: 5%;
    }
    form input{
        justify-content: center;
        float: right;
        width: 40%;


    }
    #id_birthdate_day, #id_birthdate_month, #id_birthdate_year{
        float: right;
    }
    #id_ciudad {
        width: 50%;
        float: right;
    }
    #id_provincia{
        float: right;
    }
    .forgotten{
        float: left;
        margin-top: 1.3em;
        margin-left: 20px;
        text-decoration: none;
        color: rgb(180, 74, 92); 
    }

    .bottom-margin {
        height: 10em;
        width: 99%;
        text-align: center;
        color: rgb(255, 236, 243);
    }
    
    .pie-de-pagina {
        background-color: rgb(180, 74, 92); 
        border-color:rgb(180, 74, 92); 
        border-style: solid;
        padding-bottom: 1em;
        padding-top: 1em;
        width: 100%;
        height: 1em;
        display: block;
        position: fixed;
        z-index: 10;
        bottom: 0px;
        color: antiquewhite;
    }
    
    img{
        border-style: solid;
        border-width: 1px;
        border-color: rgb(236, 137, 153);
    }

    .pie-de-pagina p{
        text-align: center;
    }
    .pie-de-pagina a{
        text-decoration: none;
        color: rgb(236, 137, 153);
    }

} 



