<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
  {% extends "base.html" %}

  {% block title %}Sign Up{% endblock %}

{% block content %}
  {% if registered %}
    <h1>Gracias por registrarte!</h1>
  {% else %}
  <h1 class = "title">Registro</h1>
    <form  method="post">
      {% csrf_token %}
      <p class="main-content">{{ user_form.as_table }}</p>
      <!-- {{ user_profile.as_p }} -->
      <button class = "boton main-boton" type="submit">Registrate</button>
    </form>
  {% endif %}
{% endblock %}
</html>