{% load static %}
<link rel="stylesheet" href="{% static 'responsive.css'  %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<header>
        <nav>
            <h1 class = "page-name"><a href="{% url 'home' %}">Coolegas.com</a></h1>
            <label for="touch"><img class="menu-items" src="{% static 'dropdown-icon.svg' 'alt=dropdown-icon' %}"></label>
            <input type="checkbox" id="touch">
            <ul class="slide">
              <a class="menu-boton" href="{% url 'sugerencias' %}"><li>Sugerencias</li></a>
              <a class="menu-boton" href="{% url 'about' %}"><li>Nosotros</li></a>
              <a class="menu-boton" href="{% url 'entrar' %}"><li>Entrar</li></a>
          </ul>  
        </nav>
</header>
<body>
  <main>
    {% block content %} {% endblock content %}
  </main>
  <div class="bottom-margin">--------------</div>
  <div class="pie-de-pagina" >
    <p class="creador">Creado por <a href="https://github.com/veggiedev">@veggiedev</a></p> 
  </div>


</body>


